<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52205323030-olcjci8is2cq91866kj3t018eha362dc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52205323030-olcjci8is2cq91866kj3t018eha362dc</string>
	<key>API_KEY</key>
	<string>AIzaSyAXqaxHbPIuGTAZThAReee1ZcvgaJgdM-8</string>
	<key>GCM_SENDER_ID</key>
	<string>52205323030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.geniuus.Exercisary</string>
	<key>PROJECT_ID</key>
	<string>exercisary-yj</string>
	<key>STORAGE_BUCKET</key>
	<string>exercisary-yj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52205323030:ios:1970040741324bbb690637</string>
</dict>
</plist>